# banco de dados PostgreSQL 
POSTGRES_USER=farmacia_user
POSTGRES_PASSWORD=farmacia_pass
POSTGRES_DB=farmaceutica_db

# PgAdmin4
# acesse em http://localhost:5050
# Para conectar ao banco: Host=db | Port=5432
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin123

# aplicação 
DATABASE_URL=postgresql://farmacia_user:farmacia_pass@localhost:5432/farmaceutica_db

# testes (banco isolado)
TEST_DATABASE_URL=postgresql://farmacia_user:farmacia_pass@localhost:5432/farmaceutica_test